.App {
  text-align: center;
}
.App-header {
  background-color: aliceblue;
  height: 170px;
}
.App-main {
  background-color: #cccccc;
  height: 90vh;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}